

  .internalDiv {
    background: white;
    height: 50px;
    width: 30%;
  }

  .externalDiv{
    background: cornflowerblue;
    text-align: -webkit-center;

  }

  .image {
    border-radius: 50%;
    height: 30px;
  }

  .deleteButton{
      color: black;
      background-color: red;
      border-radius: 20%;

  }